@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Host Grotesk", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  background: #f1f8f3; }

.container {
  max-width: 1250px !important;
  margin: 0 auto;
  padding: 0rem 2rem; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

p {
  font-weight: 500;
  color: #fff; }

a {
  text-decoration: none; }

.btn {
  padding: 5px 20px;
  border-radius: 5px; }
  @media screen and (min-width: 780px) {
    .btn {
      padding: 10px 40px; } }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  z-index: 2; }

#navigation .nav-list {
  position: absolute;
  top: 5rem;
  left: -100%;
  background-color: #0e2017;
  color: white;
  width: 50%;
  transition: left 0.5s ease;
  border-radius: 0 10px 10px 0;
  height: 100%;
  z-index: 10; }
  @media screen and (min-width: 481px) {
    #navigation .nav-list {
      top: 5.6rem; } }
  @media screen and (min-width: 780px) {
    #navigation .nav-list {
      width: 30%;
      top: 6.2rem; } }
  @media screen and (min-width: 1024px) {
    #navigation .nav-list {
      width: 15%;
      top: 7.53rem; } }
  #navigation .nav-list .logo {
    width: 60px;
    height: 60px;
    align-self: center; }
    @media screen and (min-width: 780px) {
      #navigation .nav-list .logo {
        align-self: flex-start; } }
  #navigation .nav-list p {
    font-size: 16px;
    color: #f1f8f3; }
    @media screen and (min-width: 780px) {
      #navigation .nav-list p {
        font-size: 20px; } }
  #navigation .nav-list span {
    font-size: 16px;
    color: #85bd98; }
    @media screen and (min-width: 780px) {
      #navigation .nav-list span {
        font-size: 20px; } }
  #navigation .nav-list ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding: 30px 10px; }
    #navigation .nav-list ul .first-child {
      border-bottom: 1px solid white;
      width: 80%;
      padding-bottom: 10px; }
    #navigation .nav-list ul li a {
      font-size: 18px;
      color: #f1f8f3; }
      @media screen and (min-width: 780px) {
        #navigation .nav-list ul li a {
          font-size: 24px; } }
      #navigation .nav-list ul li a:hover {
        color: #85bd98; }

#navigation .nav-list.active {
  left: 0;
  /* Move menu into view */ }

#navigation .navigation {
  padding: 20px 0; }
  #navigation .navigation .logo {
    width: 40px;
    height: 40px; }
    @media screen and (min-width: 481px) {
      #navigation .navigation .logo {
        width: 50px;
        height: 50px; } }
    @media screen and (min-width: 780px) {
      #navigation .navigation .logo {
        width: 60px;
        height: 60px; } }
    @media screen and (min-width: 1024px) {
      #navigation .navigation .logo {
        width: 80px;
        height: 80px; } }
    #navigation .navigation .logo img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  #navigation .navigation .login-btn,
  #navigation .navigation .logout-btn {
    border: none;
    border-radius: 5px;
    cursor: pointer; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2; }

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  z-index: 3;
  min-width: 330px;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  /* Loader styles */ }
  @media screen and (min-width: 481px) {
    .form-container {
      min-width: 360px; } }
  .form-container .form-logo {
    width: 130px;
    height: 130px; }
  .form-container .form-title {
    font-size: 15px;
    margin-bottom: 10px; }
    @media screen and (min-width: 481px) {
      .form-container .form-title {
        font-size: 18px; } }
  .form-container .input {
    font-size: 16px;
    border: none;
    margin: 10px;
    padding: 5px;
    width: 100%;
    border-radius: 5px; }
    .form-container .input:focus {
      outline: none; }
  .form-container .log-in_btn,
  .form-container .btn_sign-up {
    border-radius: 5px;
    margin: 20px 0;
    font-size: 18px; }
    @media screen and (min-width: 1024px) {
      .form-container .log-in_btn,
      .form-container .btn_sign-up {
        font-size: 22px; } }
  .form-container .role {
    align-self: flex-start; }
  .form-container .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #4caf50;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    z-index: 4;
    /* Ensure the loader is above other content */
    position: absolute;
    /* Required to apply z-index */
    top: 50%;
    transform: translate(-50%, -50%); }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.edit-profile {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%; }
  .edit-profile label,
  .edit-profile input,
  .edit-profile select {
    width: 50%; }
  .edit-profile input,
  .edit-profile select,
  .edit-profile textarea {
    font-size: 16px;
    border: none;
    margin: 10px;
    padding: 5px;
    width: 100%;
    border-radius: 5px; }
    .edit-profile input:focus,
    .edit-profile select:focus,
    .edit-profile textarea:focus {
      outline: none; }

.buttons {
  display: flex;
  gap: 20px; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; }
  .modal .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px; }
  .modal input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #0e2017;
    border-radius: 5px;
    color: #0e2017; }
    .modal input:focus {
      outline: none; }
  .modal button {
    background-color: #0e2017;
    color: #f1f8f3; }

.homepage {
  min-height: 100vh; }
  .homepage .hero .hero-content {
    text-align: center; }
    .homepage .hero .hero-content h1 {
      font-size: 1.5rem; }
      @media screen and (min-width: 481px) {
        .homepage .hero .hero-content h1 {
          font-size: 2rem; } }
      @media screen and (min-width: 780px) {
        .homepage .hero .hero-content h1 {
          font-size: 3rem; } }
      @media screen and (min-width: 1024px) {
        .homepage .hero .hero-content h1 {
          font-size: 4rem; } }
    .homepage .hero .hero-content p {
      color: #0e2017;
      font-size: 16px; }
      @media screen and (min-width: 780px) {
        .homepage .hero .hero-content p {
          font-size: 18px; } }
  .homepage .hero .hero-logo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 2rem 0; }
    @media screen and (min-width: 481px) {
      .homepage .hero .hero-logo {
        width: 200px;
        height: 200px; } }
    @media screen and (min-width: 1024px) {
      .homepage .hero .hero-logo {
        width: 250px;
        height: 250px; } }
  .homepage .hero .advantages {
    color: #0e2017;
    font-size: 16px; }
    @media screen and (min-width: 1024px) {
      .homepage .hero .advantages {
        font-size: 18px; } }

.dashboard {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 4rem 0; }
  .dashboard .dashboard-content {
    text-align: center; }
    .dashboard .dashboard-content h2 {
      font-size: 2rem; }
      @media screen and (min-width: 481px) {
        .dashboard .dashboard-content h2 {
          font-size: 3rem; } }
      @media screen and (min-width: 1024px) {
        .dashboard .dashboard-content h2 {
          font-size: 4rem; } }
    .dashboard .dashboard-content p {
      font-size: 16px;
      margin-bottom: 30px;
      font-weight: bold; }
      @media screen and (min-width: 780px) {
        .dashboard .dashboard-content p {
          font-size: 18px; } }
  .dashboard .dashboard-features {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px; }
    @media screen and (min-width: 481px) {
      .dashboard .dashboard-features {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (min-width: 780px) {
      .dashboard .dashboard-features {
        grid-template-columns: repeat(3, 1fr); } }
    .dashboard .dashboard-features .feature-item {
      background-color: #f7fafc;
      border-radius: 8px;
      padding: 15px;
      text-align: center; }
      .dashboard .dashboard-features .feature-item h3 {
        font-size: 1.25rem;
        margin-bottom: 10px;
        font-weight: 900;
        color: #0e2017; }
      .dashboard .dashboard-features .feature-item p {
        font-size: 16px;
        color: #555;
        color: #204531; }
        @media screen and (min-width: 780px) {
          .dashboard .dashboard-features .feature-item p {
            font-size: 18px; } }
  .dashboard .dashboard-image {
    width: 200px;
    height: 200px; }
    @media screen and (min-width: 481px) {
      .dashboard .dashboard-image {
        width: 250px;
        height: 250px; } }
    @media screen and (min-width: 780px) {
      .dashboard .dashboard-image {
        width: 300px;
        height: 300px; } }
    @media screen and (min-width: 1024px) {
      .dashboard .dashboard-image {
        width: 400px;
        height: 400px; } }

#profile {
  min-height: 100vh;
  padding: 40px 0; }
  #profile .profile-page h2 {
    font-size: 30px;
    text-align: center;
    font-weight: bold; }
    @media screen and (min-width: 481px) {
      #profile .profile-page h2 {
        font-size: 40px; } }
    @media screen and (min-width: 780px) {
      #profile .profile-page h2 {
        font-size: 45px; } }
  #profile .profile-page .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px 0; }
    @media screen and (min-width: 481px) {
      #profile .profile-page .profile-img {
        width: 200px;
        height: 200px; } }
    @media screen and (min-width: 780px) {
      #profile .profile-page .profile-img {
        width: 300px;
        height: 300px; } }
    #profile .profile-page .profile-img img {
      border-radius: 50%;
      object-fit: cover; }
  #profile .profile-page .user-info {
    margin: 30px 0; }
    #profile .profile-page .user-info p {
      color: #1b3929;
      padding: 10px 0;
      font-size: 18px; }
      @media screen and (min-width: 780px) {
        #profile .profile-page .user-info p {
          font-size: 22px; } }
  #profile .profile-page .actions {
    gap: 20px;
    font-size: 18px; }
    @media screen and (min-width: 780px) {
      #profile .profile-page .actions {
        font-size: 24px; } }

.calendar-page {
  padding: 50px 0;
  text-align: center; }
  .calendar-page h2 {
    font-size: 25px; }
  .calendar-page p {
    font-size: 16px;
    margin-bottom: 1rem; }
    @media screen and (min-width: 780px) {
      .calendar-page p {
        font-size: 20px; } }
